.aside {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 360px;
	height: 100%;
	overflow-x: hidden;
	background: map-get($colors, 'white');
	box-shadow:
		-2px 0px 4px map-get($colors, 'grey-1'),
		16px 0px 52px map-get($colors, 'blue');

	@media (min-width: map-get($screen, 'tablet')) {
		max-width: 320px;
	}

	@media (min-width: map-get($screen, 'pc')) {
		display: block;
		max-width: 320px;
	}

	&--open {
		display: block;
		z-index: 810;
	}
}
